<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Paubox PHP SDK">
            <directory suffix="Test.php">./src/tests</directory>
        </testsuite>
    </testsuites>
    <!--
      Mutating tests write to the configured Forms API.
      They are OFF by default. Opt in with: vendor/bin/phpunit
      passing the group name. Read the README first.
    -->
    <groups>
        <exclude>
            <group>mutating</group>
            <group>network</group>
        </exclude>
    </groups>
</phpunit>
